command:
  - "/opt/keycloak/bin/kc.sh"
  - "--verbose"
  - "start"
  - "--http-port=8080"
  - "--hostname"
  - "https://auth.example.com/auth"

extraEnv: |
  - name: KC_HOSTNAME
    value: "auth.example.com"
  - name: KC_BOOTSTRAP_ADMIN_USERNAME
    value: admin
  - name: KC_BOOTSTRAP_ADMIN_PASSWORD
    value: admin
  - name: JAVA_OPTS_APPEND
    value: >-
      -XX:MaxRAMPercentage=50.0

dbchecker:
  enabled: true

database:
  vendor: postgres
  hostname: keycloak-db-rw
  port: 5432
  username: keycloak
  password: keycloak-db-password
  database: keycloak